<form action="/stations" method="POST">
<h1>Create a new station</h1>
<hr>
  <fieldset>
    <p><label>stationName</label><input type="text" name="station[stationName]" /></p>
    <p><label>availableDocks</label><input type="text" name="station[availableDocks]" /></p>
    <p><label>totalDocks</label><input type="text" name="station[totalDocks]" /></p>
    <p><label>latitude</label><input type="text" name="station[latitude]" /></p>
    <p><label>longitude</label><input type="text" name="station[longitude]" /></p>
    <p><label>statusValue</label><input type="text" name="station[statusValue]" /></p>
    <p><label>statusKey</label><input type="text" name="station[statusKey]" /></p>
    <p><label>availableBikes</label><input type="text" name="station[availableBikes]" /></p>
    <p><label>stAddress1</label><input type="text" name="station[stAddress1]" /></p>
    <p><label>stAddress2</label><input type="text" name="station[stAddress2]" /></p>
    <p><label>city</label><input type="text" name="station[city]" /></p>
    <p><label>postalCode</label><input type="text" name="station[postalCode]" /></p>
    <p><label>location</label><input type="text" name="station[location]" /></p>
    <p><label>altitude</label><input type="text" name="station[altitude]" /></p>
    <p><label>testStation</label><input type="text" name="station[testStation]" /></p>
    <p><label>lastCommunicationTime</label><input type="text" name="station[lastCommunicationTime]" /></p>
    <p><label>landMark</label><input type="text" name="station[landMark]" /></p>
  </fieldset>
  <input type="submit" value="Create"> or <a href="/stations">Cancel</a>